{{ include('inc/_nav-companies.html.twig') }}

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Actions</span>
</h6>

<ul class="nav flex-column">

    <li class="nav-item">
        <a class="nav-link" href="{{ path('companies.address.create', {'id': company.id}) }}">
            <i class="fa fa-building"></i> Add address
        </a>
    </li>

</ul>